html, body {
  height: 100%;
}

body {
  background-color: #2d3a4b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

body .loginContainer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 400px;
  width: 500px;
  padding: 50px;
}
