<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统登陆</title>
    <link rel="stylesheet" href="/admin/lib/css/bootstrap.css">
    <link rel="stylesheet" href="index.css">
    <script src="/admin/lib/js/bootstrap.bundle.js"></script>
</head>

<body>

    <div class="loginContainer">
        <h2>后台管理系统</h2>
        <form id="loginForm">
            <div class="mb-3">
                <label for="username" class="form-label">用户名：</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" required>
               
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">密码：</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
        
            <div id="loginWarning" class="form-text" style="display: none;color: aliceblue;">用户名或密码错误！</div>
        
        
        </form>
    </div>

    
    <script src="index.js"></script>
</body>

</html>